/* Стили портфолио */
.portfolio-container{
    position: relative;
    width: 100%;
    padding: 20px;
}

.portfolio-container_assortiment{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* Якорная ссылка */
#reviews {
    position: absolute;
    bottom: 130px;
}