/* Стили "Подвала" */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 20px 10px;
    color: #fff;
    background: #000;
    z-index: 5;
}

footer>div {
    width: 100%;
}

footer h1 {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
}

@media screen and (max-width:750px) {
    footer h1 {
        font-size: 20px;
    }
}

@media screen and (max-width:520px) {
    footer h1 {
        font-size: 16px;
        padding: 5px;
    }
}

.footer-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-block>div {
    width: 45%;
}

@media screen and (max-width:520px) {
    .footer-block>div {
        text-align: center;
        width: 100%;
    }
}

.footer-block_contacts{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-block_contacts a{
    display: block;
    height: 50px;
    width: 50px;
    margin: 0px 10px;
    border-radius: 50%;
    transition: .5s all;
}

.footer-block_contacts a:hover{
    background: #888;
}

.footer-block_contacts a:active{
    transform: scale(1.2);
}

.footer-block_contacts img{
    height: 100%;
}

footer span {
    font-family: 'Concrete';
    display: block;
    text-align: center;
    padding: 10px;
}

.footer-signature a{
    color: #fff;
    text-decoration: underline;
}

.footer-signature a:visited{
    color: #fff;
}