/* Стиль отзывов */
.reviews-container{
    position: relative;
    padding: 20px;
    background: #FFCA8B;
}

.reviews-container_slider{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* Якорная ссылка */
#contacts {
    position: absolute;
    bottom: 70px;
}