/* Стили услуг */
.services-container {
    padding: 20px;
    background: #FFCA8B;
}

/* Заголовок */
.services-container h2 {
    font-family: 'Releway-bold';
    text-align: center;
    margin: 10px 0px;
    font-size: 20px;
}

.services-container span {
    display: block;
    font-family: 'Releway-bold';
    text-align: center;
    margin: 5px;
    font-size: 16px;
    color: #c76a00;
}

/* Карточка с услугой */
.services-container-assortiment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

