/* Первый экран */
.first-screen_container {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 300px;
    z-index: 1;
    /* opacity: 0; */
    /* animation: 3s linear 1s alternate appearance; */
}

@keyframes appearance {
    from {

        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Фон основного экрана */
.first-screen_container img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
}

/* Область основного экрана */
.first-screen_container__text-area {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    color: #fff;
    text-align: center;
    z-index: 3;
}

@media screen and (max-width:470px) {
    .first-screen_container__text-area {
        margin-top: 50px;

    }
}

.first-screen_container__text-area div {
    padding: 10px 10px;
}

@media screen and (max-width:420px) {
    .first-screen_container__text-area div {
        padding: 5px 10px;
    }
}

/* Заголовок основного экрана */

.first-screen_container__text-area h2 {
    font-family: 'Releway-bold';
    font-weight: 900;
    font-size: 30px;
    margin: 10px 0px 0px;
}

@media screen and (max-width:990px) {
    .first-screen_container__text-area h2 {
        font-size: 20px;
    }
}

@media screen and (max-width:670px) {

    .first-screen_container__text-area {
        width: 80%;
    }

    .first-screen_container__text-area h2 {
        font-size: 16px;
        margin: 5px 0px 0px;
    }
}

@media screen and (max-width:420px) {
    .first-screen_container__text-area h2 {
        margin: 0px;
    }
}

/* Кнопка основного экрана */
.first-screen_container__text-area___button a {
    background: #FF8800;
    color: #fff;
    border-radius: 15px;
    padding: 10px 50px;
    transition: .5s all;
}

.first-screen_container__text-area___button a:visited {
    color: #fff;
}

.first-screen_container__text-area___button a:hover {
    background: #fff;
    color: #000;
}

.first-screen_container__text-area___button a:active {
    transform: scale(1.2);
}

.first-screen_container__text-area___button a:visited:active {
    transform: scale(1.2);
}

@media screen and (max-width:420px) {
    .first-screen_container__text-area___button a {
        padding: 7px 30px;
    }
}

/* Якорная ссылка */
#about-me {
    position: absolute;
    bottom: 130px;
}