/* Стили информации "Шапки" */
.header-information {
    width: 50%;
    /* display: flex; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* padding: 20px 0px 20px 50px; */
    /* border: 2px solid black; */
}

.header-information h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px;
}

.header-information img {
    height: 100px;
}