/* Стили карточки отзыва */
.review-card {
    width: 40%;
    min-width: 200px;
    padding: 20px;
    border-radius: 15px;
    margin: 30px 0px 15px;
    background: #fff;
    white-space: pre-wrap;
    border: 1px solid black;
}

.review-card_title-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-card_title-block_row{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review-card_title-block_row img{
    width: 50px;
    height: auto;
}

.review-card div {
    padding: 5px;
}

.review-card div h5 {
    font-size: 20px;
    font-weight: bold;
}

.review-card div h6 {
    font-size: 14px;
    font-weight: bold;
}

.review-card__text span {
    display: block;
    text-align: justify;
    font-size: 16px;
    margin: 10px 0px;
}